<section class="d-flex justify-content-center align-items-center mt-5">
    <div class="container ">
        <div class="content ">
            <div class="text-content mt-5 text-white">
                <h1 class="text-uppercase fw-bold text-center">ABOUT COMPONENT</h1>
                <div class="star mt-4 d-flex justify-content-center align-items-center gap-3">
                    <div class="line bg-white rounded-2"></div>
                    <i class="fas fa-star"></i>
                    <div class="line bg-white rounded-2"></div>
                </div>
                <div class="info-content mt-3 d-flex justify-content-between gap-3">
                    <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source
                        files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
                        customization.</p>
                    <p> Freelancer is a free bootstrap theme created by Route. The download includes the complete source
                        files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
                        customization.</p>
                </div>
            </div>
        </div>
    </div>
</section>