<section class="d-flex justify-content-center align-items-center">
    <div class="container ">
        <div class="content ">
            <div class="image-content  mx-auto">
                <img class="img-fluid" src="./assets/images/avataaars.svg" alt="">
            </div>
            <div class="text-content text-center mt-5 text-white">
                <h1 class="text-uppercase fw-bold">START FRAMEWORK</h1>
                <div class="star mt-4 d-flex justify-content-center align-items-center gap-3">
                    <div class="line bg-white rounded-2"></div>
                    <i class="fas fa-star"></i>
                    <div class="line bg-white rounded-2"></div>
                </div>
                <div class="info-content mt-3">
                    <span>Graphic Artist -</span>
                    <span> Web Designer -</span>
                    <span> Illustrator</span>
                </div>
            </div>
        </div>
    </div>
</section>